# Visual Studio
.vs/
*.user
*.suo

# VS Code
.vscode/

# Build output (recursive)
**/bin/
**/obj/
*.dll
*.pdb
*.sourcelink.json


# Rider IDE
.idea/

# Others
*.log
*.tmp
*.cache

# Project-specific junk
evercloud.csproj.user
