<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EverCloud</title>
    <script type="importmap"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="icon" type="image/svg+xml" href="~/images/logo.svg" />
    <link href="~/css/plans.css" rel="stylesheet" />
    <link href="~/css/svg.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div></div>

        <nav class="navbar navbar-expand-lg bg-black navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand fs-3" asp-controller="Home" asp-action="Index">
                    <img src="/images/logo.svg" alt="company logo" class="logo" />
                    EVERCLOUD
                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            @if (User?.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
                            {
                                <a asp-controller="Admin" asp-action="Index" class="nav-link me-3 text-warning">Admin</a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (User?.Identity?.IsAuthenticated == true)
                            {
                                <a asp-controller="Checkout" asp-action="Dashboard" class="nav-link me-3">Dashboard</a>
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-3" asp-controller="Home" asp-action="Features">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-3" asp-controller="Home" asp-action="Index" asp-fragment="plans">Plans</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle me-5"
                               href="#"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                More
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-fragment="faq">FAQ</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-fragment="footer">Contact</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-fragment="about">About Us</a></li>
                                @if (User?.Identity?.IsAuthenticated == true)
                                {
                                    <li>
                                        <button type="submit" class="dropdown-item text-danger w-100 text-start" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">Delete Account</button>
                                    </li>
                                }
                            </ul>
                        </li>
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @await Html.PartialAsync("Partials/_DeleteAccountModal")
</body>
</html>
