<section id="about" class="py-5 bg-dark text-white">
    <div class="container container--small">
        <h2 class="mb-4 text-center fw-bold display-5">About Us</h2>
        <p class="lead text-center">
            We are committed to delivering top-quality cloud hosting with
            exceptional reliability, security, and support. Since 2021, we've
            helped businesses scale with 99.99% uptime, DDoS protection, and
            flexible, secure infrastructure. Backed by 24/7 expert support and a
            passion for innovation, we empower our clients to grow confidently in
            the cloud.
        </p>
    </div>
</section>
