<section class="section__callout">
    <div class="card card-hover text-center card--callout p-3 mb-5 mt-5 shadow-dark">
        <div class="card-body">
            <h5 class="card-title fs-1 fw-bold">Ready to Get Started?</h5>
            <p class="card-text">
                With supporting text below as a natural lead-in to additional content.
            </p>
            <a href="#plans" class="btn btn-primary rounded-pill fw-bold px-4 py-2">GET STARTED</a>
        </div>
    </div>
</section>
