
<div class="modal fade"
     id="careerModal"
     tabindex="-1"
     aria-labelledby="careerModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-light border-0 shadow-lg">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title fw-bold text-info" id="careerModalLabel">Careers at EverCloud</h5>
                <button type="button"
                        class="btn-close btn-close-white"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body text-light">
                Thank you for your interest!<br /><br />
                Currently, we are not actively hiring. When we do, job openings will
                be posted here.<br /><br />
                Meanwhile, feel free to send your resume so we can reach out if a
                position becomes available.
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-outline-light rounded-pill" data-bs-dismiss="modal">Close</button>
                <a href="mailto:hr@evercloud.com" class="btn btn-info rounded-pill">Send Resume</a>
            </div>
        </div>
    </div>
</div>
