
<footer id="footer" class="bg-dark text-white py-5">
    <div class="container text-center">
        <h5 class="fw-bold mb-3">EverCloud</h5>
        <ul class="list-inline mb-3">
            <li class="list-inline-item mx-2">
                <a href="#about" class="text-white-50 text-decoration-none">About</a>
            </li>
            <li class="list-inline-item mx-2">
                <a href="#faq" class="text-white-50 text-decoration-none">FAQ</a>
            </li>
            <li class="list-inline-item mx-2">
                <a class="career-modal text-white-50 text-decoration-none"
                   href="#"
                   data-bs-toggle="modal"
                   data-bs-target="#careerModal">Career</a>
            </li>
        </ul>
        <div class="text-white-50 small mb-2">
            Email:
            <a type="email" href="mailto:support@evercloud.com">support@evercloud.com</a>&nbsp; | &nbsp;
            Phone: <a href="tel:+12345678901">+1 234 567 8901</a>
        </div>
        <div class="text-white-50 small">
            &copy; 2025 EverCloud. All rights reserved.
        </div>
    </div>
</footer>