
<div id="floatingAlert"
     class="alert alert-warning alert-dismissible fade d-none position-fixed top-0 start-50 translate-middle-x mt-3 shadow z-3"
     role="alert">
    <span id="floatingAlertMessage"></span>
</div>
